@{
    ViewBag.Title = "About";
}
<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<header class="jumbotron">
    <h2>Directions to candidates</h2>
    <ol>
        <li>
            Applications on form Z83 with full particulars of the applicants' training, qualifications, competencies,
            knowledge and experience (on a separate sheet if necessary or a CV) must be forwarded to the National Department/Provincial Administration/Government Component in which the vacancy/vacancies exist(s).
        </li>
        <li>Applicants must indicate the reference number of the vacancy in their applications.</li>
        <li>Applicants requiring additional information regarding an advertised post, must direct their enquiries to the National Department/Provincial Administration/Government Component where the vacancy exists. The Department of Public Service and Administration must not be approached for such information.</li>
        <li>Applications should be forwarded in time to the advertising department since applications received after the applicable closing date will not be accepted</li>
    </ol>
    <p>Z83 avalaible for <a href="~/documents/z83.pdf" target="_blank">download</a>, this file requires <a href="https://get.adobe.com/uk/reader/">Adobe Reader</a>.</p>
</header>

<div class="row">
    <div class="col-md-12">
        <h2>About the Department of Public Service and Administration</h2>
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" role="button" class="">
                            Vision
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="true" style="">
                    <div class="panel-body">
                        A professional, productive and responsive public service and administration
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="headingTwo" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed">
                            Mission
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <ol>
                            <li>Establish norms and standards to ensure that the state machinary functions optimallay and that such norms and standards are adhered to.</li>
                            <li>Implement interventions to maintain a compliant and finctioning Public Service.</li>
                            <li>Promote an ethical public service through programmes, systems, frameworks and structures that defect, prevent and combat corruption.</li>
                            <li>Contribute towards improved public administration in Africa and internationally through dialogue and sharing of best practices.</li>
                        </ol>
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" role="button" class="collapsed">
                            Value Statement
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                    <div class="panel-body">
                        We Belong, We care, We Serve
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-md-6-->
</div><!--/row-->
