@{
    ViewBag.Title = "Contact";
}
<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-phone"></span> @ViewBag.Title</h1>
</header>

<header class="jumbotron">
    <h2>Directions to candidates</h2>
    <ol>
        <li>
            Applications on form Z83 with full particulars of the applicants' training, qualifications, competencies,
            knowledge and experience (on a separate sheet if necessary or a CV) must be forwarded to the National Department/Provincial Administration/Government Component in which the vacancy/vacancies exist(s).
        </li>
        <li>Applicants must indicate the reference number of the vacancy in their applications.</li>
        <li>Applicants requiring additional information regarding an advertised post, must direct their enquiries to the National Department/Provincial Administration/Government Component where the vacancy exists. The Department of Public Service and Administration must not be approached for such information.</li>
        <li>Applications should be forwarded in time to the advertising department since applications received after the applicable closing date will not be accepted</li>
    </ol>
    <p>Z83 avalaible for <a href="~/documents/z83.pdf" target="_blank">download</a>, this file requires <a href="https://get.adobe.com/uk/reader/">Adobe Reader</a>.</p>
</header>

<div class="row">
    <div class="col-md-4">
        <h2>Find Us</h2>
        <address>
            <strong>Department of Public Service and Administration</strong><br>
            546 Edmond Street, Arcadia<br>
            Pretoria,0083<br>
            <abbr title="Telephone Number">Tel:</abbr> (012) 336 7802
            <abbr title="Fax Number">Fax:</abbr> (012) 336 7802
        </address>
        <address>
            <strong>Lehlogono Mphakathi-Ngobeni</strong><br>
            <a href="mailto:lehlogonolo@dpsa.gov.za">lehlogonolo@dpsa.gov.za</a>
        </address>
        <address>
            <strong>Nomsa Khosa</strong><br>
            <a href="mailto:nomsa@dpsa.gov.za">nomsa@dpsa.gov.za</a>
        </address>
    </div><!--/.col-md-4-->
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div><!--/row-->