@{
    ViewBag.Title = "Home Page";
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>
<h3>Official Government Jobs Portal</h3>
<div class="jumbotron">
    <div class="row">
        <article class="col-md-4" role="article">
            <div class="form-group">
                <label for="Description">What</label>
                <input type="text" class="form-control" id="Description" placeholder="What are you looking for?" />
            </div>
        </article>
        <article class="col-md-4" role="article">
            <div class="form-group">
                <label for="Description">Where</label>
                <input type="text" class="form-control" id="Location" placeholder="City, District or Province" />
            </div>
        </article>
        <article class="col-md-4" role="article">
            <div class="form-group">
                <label for="Description">Level</label>
                <select class="form-control">
                    <option>Select Level</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                </select>
            </div>
        </article>
    </div>
    <div class="row">

    </div>
</div>

<h3>Available Public Sector Jobs</h3>
    <div class="row">
        

    </div>
